Checks:                 'modernize-*, cppcoreguidelines-*, google-*, -google-readability-todo, readability-*, performance-*'
WarningsAsErrors:       'modernize-*, cppcoreguidelines-*, -cppcoreguidelines-init-variables, -cppcoreguidelines-avoid-c-arrays, google-*, -google-readability-todo, readability-*, performance-*'
InheritParentConfig:    true
