CompileFlags:
  Add:
    - -std=c++20
    - --cuda-path=/usr/local/cuda
    - --cuda-gpu-arch=sm_86
    - -L/usr/local/cuda/lib64
    - -I/usr/local/cuda/include

  # boonk cuda stuff:
  Remove:
    - -ftrack-macro-expansion=0
    - -arch=sm_86
    - --forward-unknown-to-host-compiler
    - --dopt=on
    - --use_fast_math
    - --extra-device-vectorization
    - --device-debug
    - --profile
